/* Universal */

.body {
  background-color: #EBDED9;
  padding-bottom: 3rem;
  height: inherit;
  min-height: 100%;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#nav {
  background-color: #EBDED9;
  height: 100%;
  width: auto;
  padding-top: 236px;
  margin-bottom: 55px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 10pt;
  transform: perspective();
}




#logo {
  width: 267px;
  height: 37px;
  background-color: #EBDED9;
}

#menu-link {
  font-family: 'Gothic A1';
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  position: relative;
}

#Links {
  margin-left: inherit;
}

#border-line {
background-color: #EBDED9;
 margin-left: 100px;
 margin-right: 100px;
 margin-top: 55px;
 margin-bottom: 147px;
 border: .5px solid #232323;
}

#border-line-2 {
background-color: #EBDED9;
 margin-left: 100px;
 margin-right: 100px;
 margin-top: 55px;
 margin-bottom: 147px;
 border: .5px solid #232323;
}

/* Main */

#main-page h2 {
font-family: Times New Roman, Georgia, serif;
font-size: 32px;
line-height: 50px;
font-color: #101820;
padding-left: 100px;
padding-right: 100px;
text-align: center;
}

#main-page img {
  height:auto;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 160px;
  padding-bottom: 160px;
}

/* Services */

#services-main h2 {
  font-family: Times New Roman, Georgia, serif;
  font-size: 32px;
  line-height: 50px;
  font-color: #101820;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
  text-align: center;
}

#services-main p {
  font-family: Gothic A1, Helvetica, Arial; font-size: 16px;
  font-color: #101820;
  line-height: 28px;
  padding-left:150px;
  padding-right: 150px;
  text-align: center;
  padding-bottom: 150px;
}

#package {
  font-family: Gothic A1, Helvetica, Arial; font-size: 16px;
  font-color: #101820;
  line-height: 35px;
  text-transform: uppercase;
  padding-left: 100px;
  padding-right: 100px;
}

#package-title {
  font-family: Times New Roman, Georgia, serif;
  font-size: 22px;
  line-height: 35px;
  font-color: #101820;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

#package-description {
  font-family: Gothic A1, Helvetica, Arial;
  font-size: 16px;
  font-color: #101820;
  line-height: 28px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
}

#package-details {
  font-family: Gothic A1, Helvetica, Arial;
  font-size: 16px;
  font-color: #101820;
  line-height: 32px;
  padding-left: 100px;
  padding-right: 100px;
}

#book-btn {
  background-color: Transparent;
  color: #101820;
  border: 0.5px solid #101820;
  font-family: Gothic A1, Helvetica, Arial; font-size: 16px;
  font-color: #101820;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 10px 50px;
}

/* About */

/* Book */

#booking-form h2 {
  font-family: Times New Roman, Georgia, serif;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  padding-bottom: 60px;
}

#booking-form p {
  font-family: Gothic A1, Helvetica, Arial; font-size: 16px;
  font-color: #101820;
  line-height: 28px;
  text-align: center;
  padding-bottom: 100px;
}

#inputs {

}

input  {
  background-color: Transparent;
  box-sizing: border-box;
  display: inline-block;
  font-family: Gothic A1, Helvetica, Arial;
  font-size: 16px;
  font-color: #575757;
  line-height: 28px;
  border: none;
  border-bottom: 0.5px solid #101820;
  padding: 20px;
  padding-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  width: 100%;
  max-width: 500px;
}

#business {
  margin-bottom: 100px;
}

#how {
  margin-bottom: 100px;
}

#select {
  padding-right: 300px;
  display: inline-grid;
}

#dropdown {
  border: none;
  width: 200px;
  height: 35px;
}

#submit {
  align-items: center;
  text-align: center;
  background-color: Transparent;
  color: #101820;
  border: 0.5px solid #101820;
  font-family: Gothic A1, Helvetica, Arial; font-size: 16px;
  font-color: #101820;
  margin-bottom: 100px;
  padding: 10px 50px;
  width: 300px;
}



/* Footer */

#footer {
  background-color: #EBDED9;
  height: auto;
  width: auto;
}

#instafeed {
  margin-left: 150px;
  margin-bottom: 100px;

}

#about-footer {
margin-right: 150px;
margin-bottom: 100px;
}

#about-footer h3 {
  font-family: Times New Roman, Georgia, serif;
  font-size: 16px;
  font-color: #101820;
}

#about-footer p {
  font-family: Gothic A1, Helvetica, Arial;
  font-size: 14px;
  font-color: #101820;
  line-height: 26px;
}
